@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:700|Montserrat:700");

html,
body{
   width: 100%;
   overflow-x: hidden;
   box-sizing: border-box;
   height: auto !important;
   list-style: none;
   scroll-behavior: smooth;
   transition: ease-in .4s;
}

*{
   padding: 0;
   margin: 0;
}

header{
   height: 90px;
   overflow: visible;
   width: 100%;
   z-index: 9999;
   background: #6a0dad;
   display: flex;
   justify-content: space-between;
   padding: 20px 5%;
   align-items: center;
}

img.logo{
   height: 23px;
}

/** active class for nav **/
nav.nav{
   display: flex;
   align-items: center;
}

@media (max-width: 800px){
  nav.nav{
   position: absolute !important;
   overflow: hidden;
   transition: height 0.3s ease; /* Smooth transition for height */
   height: 0px;
   background: #eee;
   padding-left: 5%;
   left: 0%;
   top: 6rem;  
   width: 100%;
   z-index: 99999 !important;
   display: block !important;

   a{
      color: rgb(51, 50, 50);
      margin: 4rem 0 !important;
      line-height: 40px;
   }

   .contact-btn{
      border: 1px solid gray !important;
      top: 17px;
      border-radius: .2rem !important;
      position: relative;
   }

   .contact-btn:hover{
      color: rgb(53, 56, 53) !important;
   }
  }
}

/** other section in nav. **/
div.section-nav{
   position: absolute;
   width: 10rem;
   /* visibility: hidden;  */
   overflow: visible;
   height: 1px;
   transition: height 0.3s ease; /* Smooth transition for max-height */
   top: 6rem; 
   border-radius: .4rem;
   display: inline-flex;
   flex-direction: column;
   right: 13%;
   background: #eee;
   box-shadow: 2px 2px 3rem rgb(168, 168, 168);
   z-index: 9999;
   padding: 7px;
   visibility: hidden;

   div.pointer{
      position: absolute;
      background: #eee;
      height: 10px;
      width: 30px;
      bottom: 92px;
      left: 109px;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

      @media (max-width: 800px){
         background: #6a0dad !important;
         top: -9px;
         width: 17px;
      }
   }

   a{
      line-height: 40px;
      color: #222121;
      /* padding: 4rem 1rem 1rem 1rem; */
      margin-left: 10px;
      font-weight: 500;
      font-family: sans-serif;

      @media (max-width: 800px){
         line-height: 2px !important;
         color: white;
         text-align: center;
         display: block;
         margin-bottom: 0.5rem; /* Optional: add space between links */
      }
   }


   @media (max-width: 800px){
      /* position: relative; */
      margin-top: 190px;
      left: 4%;
      display: block;
      background: #6a0dad !important;
   }
}


nav a{
   font-family: "PolySans-Slim", Helvetica;
   font-size: 14px;
   font-weight: 200;
   margin: 0 8px;

   &:hover{
      color: #ec911a;
   }

   i.fas{
      font-size: 8px;
      position: relative;
      bottom: 1.8px;
   }
}

i.fa-bars{
   font-size: 19px;
   color: #eee !important;
   cursor: pointer;
   z-index: 999;
   display: none;

   @media (max-width: 800px){
      display: block;
   }
}

nav a i.fas{
   margin-left: 3px;
}

a.contact-btn{
   border: 1px solid #eaeaea;
   padding: 11px 13px;
   border-radius: 3px;
}

a.contact-btn:hover{
   color: #ec911a;
   border: 1px solid #ec911a;
   transition: ease-in .3s;
}

/* hero section */
/* div.hero{

   img{
      position: relative;
      top: -1px;
      width: 100%;
      height: 45rem;
   }
}

@media (max-width: 700px){
   div.hero{
      img{
         height: 48rem;
      }
   }
} */

div.flex-hero{
   display: flex;
   position: relative;
   bottom: 1rem;
   z-index: 7777;
   align-items: center;
   justify-content: space-between;
   background: #6a0dad;
   height: auto;
   clip-path: polygon(
  100% 0%,
  100% 51%,
  100% 100%,
  90% 97%,  /* Adjusted points for a smoother curve */
  80% 94%,
  70% 92%,
  60% 90%,
  50% 89%,
  40% 90%,
  30% 92%,
  20% 94%,
  10% 97%,
  0% 100%,
  0% 0%
);
   /* clip-path: polygon(100% 0%, 100% 51%, 100% 100%, 69% 91%, 0 100%, 0 0); */
   padding: 4rem 10%;
}

@media (max-width: 900px){
   div.flex-hero{
      flex-direction: column-reverse;
      bottom: 1rem;
      padding: 2rem 5% 6rem 5%;
      gap: 1.2rem;
   }
}

.title{
   color: #eaeaea;
   font-family: "PolySans-Bulky", Helvetica;
   font-size: 44px;
   width: 94%;
   font-weight: 400;
   line-height: 53px;
}

@media (max-width: 700px){
   .title{
      font-size: 2.1em;
      line-height: 45px;
   }
}

.sub-title{
   color: #eaeaea;
   font-family: "Helvetica-Regular", Helvetica;
   font-size: 16px;
   line-height: 30px;
   width: 80%;
}

@media (max-width: 700px){
   .sub-title{
      font-size: 0.90em;
      line-height: 30px;
      width: 100%;
   }
}

a > img.btn{
   height: 58px;
   box-shadow: 3px 4px 3rem rgb(137, 56, 153);

   &:hover{
      transform: scale(1.03);
      transition: ease-in .3s;
   }
}

@media (max-width: 700px){
   a > img.btn{
     height: 45px;
     bottom: 13px;
     position: relative;
   }
}

.hero-illustration{
   width: 50%;
   position: relative;
   top: 12px;

  animation-name: grow;
  animation-duration: 3s;
  /* animation-fill-mode: backwards; */
  animation-iteration-count: infinite;
}

/** make illustration bigger in mobile **/
@media (max-width: 700px){
   .hero-illustration{
      width: 60%;
}
}


@keyframes grow {
 10%{
    transform: scale(1.01);
  }

  36%{
    transform: scale(1.04);
  }
}

img.vector{
   position: absolute;
   bottom: 96vh;
   left: 95%;
}

@media (max-width: 1200px){
   img.vector{
      left: 77%;
      bottom: 97vh;
   }
}

div.our-promise{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

div.our-promise > h4{
   font-family: "PolySans-Median", Helvetica;
   font-size: 3em;
   font-weight: 400;
   text-align: center;
   color: #4e4d4d;
}

@media (max-width: 700px){
   div.our-promise > h4{
      font-size: 2em;
   }
}

div.our-promise h5{
   font-family: "Helvetica-Regular", Helvetica;
   color: #5b7299;
   text-align: center;
   font-size: 18px;
   margin: 38px 0;
}

div.our-promise h6{
   color: #8a8a94;
   font-size: 20px;
   width: 50%;
   text-align: center;
   line-height: 21px;
   margin-top: -13px;
   line-height: 28px;
   font-family: "Helvetica-Regular", Helvetica;

   @media (max-width: 700px){
      width: 70%;
   }
}

/** card section **/
div.card-wrapper{
   display: flex;
   margin-top: 4rem;
   justify-content: center;
   flex-wrap: wrap;
   gap: 1rem;
}

div.card{
   background: #fffcfc;
   width: 21rem;
   border: 2.8px solid #d3d0d0;
   border-radius: .9rem;
   margin: 0 20px;
   padding: 2.9rem 2rem;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   justify-content: center;
   text-align: center;

   &:hover{
      transform: scale(1.04);
      transition: ease-in .4s;
   }

   img{
      height: 50px;
   }

   h3{
      font-family: "PolySans-Bulky", Helvetica;
      margin: 10px 0;
      color:#3b4453;
      font-size: 20px;
   }

   h5{
      font-family: "Helvetica-Regular", Helvetica;
      color:#2b384b;
      line-height: 23px;
      font-size: 16px;
   }
}

/* vector diamond */
img.vectorImg{
   position: absolute;
   left: 8%;
   transform: translateY(22px);
}

/* vector strike */
img.vector-strike{
   width: 100%;
   filter: brightness(90%) opacity(60%);
   position: absolute;
}

div.services-wrapper{
   position: relative;
   /* bottom: 25rem; */
   top: 7rem;
   height: auto;

   h1{
      font-family: var(--ovionos-major-headlines-font-family);
      font-weight: var(--ovionos-major-headlines-font-weight);
      color: var(--colorspurple-800);
      font-size: 39px;
      letter-spacing: var(--ovionos-major-headlines-letter-spacing);
      line-height: var(--ovionos-major-headlines-line-height);
      text-align: center;
      font-style: var(--ovionos-major-headlines-font-style);

      @media (max-width: 700px){
         font-size: 25px;
      }
   }

   @media (max-width: 1100px){
         bottom: 7rem !important;
   }
}


div.card-services-wrapper{
   display: flex;
   position: relative;
   width: 100%;
   flex-wrap: wrap;
   gap: 2rem;
   margin-top: 30px;
   justify-content: center;
   align-items: center;
}

div.card-service {
  width: 30rem !important;
  padding: 1.3rem;
  height: 17rem;
  background: #fff !important;
  box-sizing: border-box !important;
  border-radius: .6rem;
  display: flex !important;
  flex-direction: row !important; /* Align items horizontally */
  border: 2px solid #d3d0d0 !important;
  align-items: center !important; /* Align items vertically in the center */

  @media (max-width: 900px){
   width: 25rem !important;
   padding: 10px;
   flex-direction: column !important; /* Align items vertically */
   gap: 1rem;
     height: auto;
  }
}

div.card-service img {
  max-width: 40% !important; /* Adjust the percentage as needed */
  height: 10rem !important;
  width: 20rem;
  margin-right: 1rem !important; /* Add space between the image and text */

  @media (max-width: 900px){
   height: 8rem !important;
  }
}

div.card-service div {
  flex: 1 !important; /* Allow the text content to take up the remaining space */
  max-width: 60% !important; /* Ensure the text doesn't overflow */
}

div.card-service h2,
 div.card-service h4 {
  margin: 10px !important; /* Remove default margins */
  word-wrap: break-word !important; /* Ensure text wraps properly */
  overflow-wrap: break-word !important;
  word-break: normal !important;
  letter-spacing: normal;
}

div.card-service h2{
   font-family: "PolySans-Bulky", Helvetica;
    font-weight: 400;
    color: #263238;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 23px;
}

div.card-service h4{
   font-family: "Helvetica-Regular", Helvetica;
    font-weight: 400;
    color: #515151;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20px;
    word-break: keep-all !important;
}

div.view-all{
    display: flex;
    justify-content: center;
    padding: 13.82px 2px;
    width: 100%;
    align-items: center;
    position: relative;

    @media (max-width: 800px){
      padding: 1.82px 2px;
    }

    .view-all-link{
      height: 47px;
      display: flex;
      align-items: center;
      top: 80px;
      justify-content: center;
      width: 240px;
      border: 1.38px solid #6a0dad;
      border-radius: 5px;
      color: #6a0dad;
      padding: 2rem;
      font-size: 19.9px;
      letter-spacing: -0.6px;
      line-height: 19.9px;
      position: relative;
      font-family: "Inter", Helvetica;
      font-weight: 700;

      @media (max-width: 800px){
         font-size: 20px;
       }

       &:hover{
         background:#6a0dad;
         transition: ease-in .3s;
         color: #fff;
       }
    }
}

div.process-txt{
   position: relative;
   text-align: center;
    margin-top: 120px;
    font-family: var(--ovionos-major-headlines-font-family);
    font-weight: var(--ovionos-major-headlines-font-weight);
    color: rgb(82, 80, 80);
    font-size: 38px;
    letter-spacing: var(--ovionos-major-headlines-letter-spacing);
    font-style: var(--ovionos-major-headlines-font-style);

    @media (max-width: 800px){
      font-size: 25px;
    }
}

div.process-con{
   width: 100%;
   display: flex;
   height: 40rem;
   justify-content: center;
   height: 40rem;
   position: relative;
   top: 60px;

   img{
      width: 1000px;
      height: auto;
   }

   @media (max-width: 800px) {
        display: block;
        overflow-x: scroll;
   }

   &::-webkit-scrollbar {
      height: 8px;
    }
}

/** vector diamond-2 **/
img.vector-diamond-2{
   position: relative;
   top: 80px;
   left: 4%;
   z-index: 235;

   @media (max-width: 800px){
      top: 60px;
      height: 52px;
   }
}

/** partnership section */
div.partnership{
   background: #6a0dad;
   height: auto;
   width: 100%;
   position: relative;
   margin-top: 2rem;
   padding: 55px 0 2px 0;
   z-index: 234;

   h1{
      font-size: 48px;
      color: var(--white);
      font-family: "PolySans-Median", Helvetica;
      font-weight: 400;
      letter-spacing: 0;
      line-height: normal;

      @media (max-width: 800px){
         font-size: 35px;
      }
   }
}

div.items-flex{
   display: flex;
   position: relative;
   justify-content: center;
   margin-top: 4rem;
   flex-wrap: wrap;
   gap: 1.5rem;

   @media (max-width: 800px){
      gap: 3rem;
   }

   div.item{
      width: 350px;

      img{
         position: relative;
         width: 59px;
         height: 59px;
      }

      h2{
         top: 0;
         left: 0;
         font-family: "Inter", Helvetica;
         font-weight: 700;
         color: var(--white);
         font-size: 18px;
         letter-spacing: 0;
         margin-top: 25px;
         line-height: normal;
      }

      p{
         left: 0;
         font-size: 13.5px;
         letter-spacing: 0;
         line-height: 25px;
         position: relative;
         top: 10px;
         font-family: "Helvetica-Regular", Helvetica;
         font-weight: 200;
         color: var(--white);
      }
   }
}

/** link buttons **/
 div.link-btns{
   margin: 80px 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;

   @media (max-width: 600px){
      gap: 1.9rem;
   }

   a{
      font-family: "Helvetica-Regular", Helvetica;
      margin: 0 20px;
      text-transform: capitalize;
      padding: 20px;
      font-size: 15px;
      border: 1px solid #fff;
      border-radius: 6px;
      transition: ease-in .4s;
   }

   a.n-1{
      &:hover{
         background: #d713b7;
         border: 1px solid #d713b7;
      }
   }
}

a.n-2{
   background: #fff;
   color: #6a0dad;
   
  &:hover{
   background: #d713b7 !important;
   color: #eee !important;
   border: 1px solid #d713b7 ;
  }
}


/** diamond vector-3 **/
.vector-3{
   position: relative;
   left: 90%;

   @media (max-width: 800px){
      height: 50px;
      left: 86%;
      bottom: 3px;
   }
}

div.industries{
   h1.title{
    font-family: var(--ovionos-major-headlines-font-family);
    font-weight: var(--ovionos-major-headlines-font-weight);
    color: var(--colorsgray-700);
    font-size: 38px;
    text-align: center;
    margin: 60px 0 50px 0;
    letter-spacing: var(--ovionos-major-headlines-letter-spacing);
    line-height: var(--ovionos-major-headlines-line-height);
    font-style: var(--ovionos-major-headlines-font-style);

    @media(max-width: 800px){
      font-size: 29px;
    }
   }
}

/* industry card wrapper */
div.industry-wrapper{
   width: 100%;
   padding: 0 2%;

   div.card-i{
      width: 25rem;

      img{
         width: 100%;
         border-radius: .4rem;
         background: none;
         background: #f8f5f5;
         padding: 10px;
      }

      /** Industry heading **/
      h2{
         font-family: var(--headline-20-font-family);
         font-weight: 600;
         color: var(--gray-1);
         margin: 10px 0;
         font-size: var(--headline-20-font-size);
         letter-spacing: var(--headline-20-letter-spacing);
         line-height: var(--headline-20-line-height);
         font-style: var(--headline-20-font-style);
      }

      /** Industry item **/
      h3{
         top: 34px;
         left: 0;
         font-family: var(--paragraph-font-family);
         font-weight: var(--paragraph-font-weight);
         color: #0e0d0d;
         font-size: var(--paragraph-font-size);
         letter-spacing: var(--paragraph-letter-spacing);
         line-height: var(--paragraph-line-height);
         font-style: var(--paragraph-font-style);
      }
   }
}

div.wrap-i{
   display: flex;
   justify-content: center;
   position: relative;
   margin: 30px 0 50px 0;
   top: -10px;
}
 a.all-industries{
   color: #6a0dad;
   text-align: center;
   font-family: "Helvetica-Regular", Helvetica;
   font-size: 15px;
   font-weight: 700;
   position: relative;
   text-transform: uppercase;
   padding: 1rem;
   border: 1px solid #6a0dad;
   border-radius: .2rem;

   &:hover{
      background: #6a0dad;
      color: #eee;
      border-bottom: 1px solid #6a0dad;
      transition: ease-in .3s;
   }

   @media (max-width: 800px){
      font-size: 14px;
   }
 }
 

 h1.work-with{
    font-family: "PolySans-Median", Helvetica;
    font-weight: 500;
    color: #374151 !important;
    font-size: 32px;
    transform: translateY(10px);
    letter-spacing: 0;
    line-height: normal;
    text-align: center;

    @media(max-width: 800px){
      font-size: 30px;
    }
 }

 div.j-center{
   display: flex;
   justify-content: center;

 }
 h2.about{
   font-family: "Gotham-Book", Helvetica;
   font-weight: 400;
   color: #5e5c5c;
   font-size: 18.8px;
   letter-spacing: 0;
   top: 30px;
   width: 40%;
   position: relative;
   line-height: 32.9px;
   text-align: center;

   @media (max-width: 800px){
      font-size: 18px;
      width: 70%;
   }
 }

/** Industries fles */
div.flexed-industries{
   width: 100%;
   display: flex;
   position: relative;
   justify-content: center;
   top: 5.4rem;
   gap: 1.8rem;
   flex-wrap: wrap;

   div.industry-card{
      width: 30rem;

      img{
         border-radius: .4rem;
         height: 13rem;
         width: 100%;

         &:hover{
            transform: scale(1.04);
            transition: ease-in .3s
         }

         @media (max-width: 800px){
            object-fit: cover;
         }
      }

      h1{
         font-family: "PolySans-Median", Helvetica;
         font-weight: 400;
         color: var(--gray-1);
         font-size: 26.2px;
         letter-spacing: 0;
         text-align: left;
         margin: 16px 0;
         line-height: normal;
      }

      h4.title{
         font-size: 15px !important;
         font-weight: 200 !important;
      }

      h4{
         font-family: "Helvetica-Regular", Helvetica;
         font-weight: 400;
         color: #000000;
         font-size: 14px;
         letter-spacing: 0;
         line-height: 27.6px;
      }

      @media (max-width: 800px){
         width: 23rem;
      }
   }

   img.vector-hex{
      position: absolute;
      z-index: -1;
      left: 63%;
   }
}


/** Our client section **/
div.client-wrap{
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin-top: 180px;

   h2{
      color: #696969;
      font-family: var(--ovionos-major-headlines-font-family);
      font-weight: var(--ovionos-major-headlines-font-weight);
      font-size: 42px;
      text-align: center;
      letter-spacing: var(--ovionos-major-headlines-letter-spacing);
      line-height: var(--ovionos-major-headlines-line-height);
      font-style: var(--ovionos-major-headlines-font-style);

      @media (max-width: 800px){
         font-size: 35px;
      }
   }

   /** client logos ***/
   img{
      width: 60%;
      height: 3.7rem;
      margin: 20px 0;
      transform: translateX(30%);

      @media (max-width: 800px){
         margin: 6px 0;
      }
   }

   @media (max-width: 800px){
      margin-top: 140px;
   }
}

img.diamond-footer{
   position: relative;
   left: 190px;
   top: 40px;
   z-index: 12345;
   height: 80px;

   @media (max-width: 800px){
      height: 50px;
      left: 40px;
      top: 20px;
   }
}
 

/** Footer **/
footer.footer{
   font-family: "PolySans-Neutral", Helvetica;
   color: #eee;
   margin-top: 130px;
   background: #6a0dad;
   height: auto;
   padding: 60px 5%;
   width: 100%;
   z-index: 1234;
}

div.footer-wrap {
   position: relative;
   display: grid;
   margin-left: 4%;
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
   justify-content: center;
   gap: 2rem;
}


div.sec{
   width: 100%;

   img{
      height: 1.5rem;
   }
   h4{
    font-weight: 800;
    color: var(--white);
    font-size: 19.2px;
    letter-spacing: 0;
    line-height: normal;
    width: 70%;
   }

   div.social{
      display: flex;
      width: 7rem;
      margin-top: 10px;
      justify-content: space-between;

      i{
         font-size: 19px;
      }
   }

   /** header in footer **/
   h4.header{
      font-weight: 800;
   }

   a{
      display: block;
      margin: 15px 0;
      font-size: 14.5px;
      line-height: 20px;
      font-weight: 100;
      text-transform: capitalize;

      &:hover{
         color: #ff9900;
      }
   }

   /** get in touch in footer **/
   h4.border{
      padding: 10px;
      width: 8.5rem;
      border-radius: .5rem;
      border: 1px solid #eee;;
   }
}

  /** copyright infor. **/
  p.copyright{
   position: relative;
   margin-top: 4rem;
   font-size: 14px;
   font-weight: 100;
   text-align: center;

   @media (max-width: 800px){
      font-size: 12px;
   }
}