

/* section.hero{
   height: 380px !important;
   background: url(../img/industries-img.png) !important;
   clip-path: none !important;
   background-repeat: no-repeat !important;
   background-size: cover !important;

   .hero-txt{
      font-family: "PolySans-Slim", Helvetica;

      @media(max-width: 800px){
         font-size: 15.6px;
      }
   }

   @media (max-width: 800px){
    height: 300px;
   }

} */

/** hero section  **/
section.hero-sec{
   height: 380px;
   overflow-y: visible;
   width: 100%;
   padding: 2rem;
   background: url(../img/industries-img.png);
   background-size: cover;
   background-repeat: no-repeat;

   @media (max-width: 800px){
      height: 450px;
      clip-path: none;
   }

   h1.hero-txt{
      text-transform: uppercase;
      font-size: 20px;
      position: relative;
      margin-top: 120px;
      text-align: center;
      color: #eee;
      font-family: "PolySans-Slim", Helvetica;
      font-size: 22px;
      font-weight: 400;
      letter-spacing: 0;
      line-height: normal;

      @media(max-width: 800px){
         font-size: 16px;
      }
   }

   /** title-2 **/
   h2{
      font-family: "PolySans-Bulky", Helvetica;
      font-weight: 400;
      position: relative;
      top: 30px;
      color: var(--white);
      font-size: 40px;
      text-align: center;
      letter-spacing: 0;
      line-height: normal;

      @media (max-width: 800px){
         font-size: 30.2px;
         width: 100%;
      }
   }

}


section.more-content{
   position: relative;
   background: #6a0dad;
   color: #eee;
   padding: 3rem 5%;
   top: 0;

   div.wrap-content{
      width: 100%;
      padding: 0 19%;
      line-height: 25px;

      @media (max-width: 800px){
         padding: 0 9%;
      }
   }

   h4.txt-content{
      text-align: center;
      word-wrap: break-word;
      font-family: "PolySans-Slim", Helvetica;

   }

   h1.content-title{
      margin-top: 1rem;
      word-wrap: break-word;
      font-weight: 800;
      text-align: center;
      font-family: "PolySans-Bulky", Helvetica;
   }
}

section.partner-wrap{
   width: 100%;
   margin-top: 4rem;
   padding: 0 8%;
   /* flex-wrap: wrap; */
   justify-content: center;
   gap: 1.2rem;
   /* display: flex; */
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

   @media (max-width: 820px){
      grid-template-columns: 1fr 1fr;
   }

   @media (max-width: 650px){
      grid-template-columns: 1fr;
   }


   div.box{
      padding: 2rem;
      width: 20rem;
      word-wrap: break-word;
      white-space: normal;
      border-radius: .2rem;
      border: 2px solid #9d4cd7;

      @media (max-width: 650px){
         width: 80vw;
      }

      img.layer-img{
         height: auto;
         visibility: visible;
      }

      img.l-x{
         height: 60px;
         visibility: hidden;
         position: relative;
         right: 59px;
      }

      h1{
         margin: 3rem 0 1rem 0;
         font-size: 20px;
         font-family: "PolySans-Bulky", Helvetica;
      }

      h3{
         font-family: "Helvetica-Regular", Helvetica;
         font-size: 13.2px;
         line-height: 20px;
      }

      &:hover{
         background: #eee;
         border: 2px solid #eee;
         color: #000;
         transition: ease-in .3s;
         transform: scale(1.03)
      }
   }
}

/* visiblity set for image hover */
.add-layer{
   visibility: hidden !important;
}

div.industries-txt{
   text-align: center;
   font-family: "Helvetica-Regular", Helvetica;
   font-weight: 200;
   margin: 80px 0;
   color: rgb(48, 45, 45);
   font-size: 38px;

   @media (max-width: 900px){
      font-size: 30px;
   }
}

section.sector{
   position: relative;
   padding: 0 3%;
   flex-wrap: wrap;
   justify-content: center;
   gap: 1.2rem;
   display: flex;

   div.card{
      padding: 2rem;
      background: #fff;
      width: 30rem;
      border: none;
      box-shadow: 2px 1px 2rem #e9e6e6;

      img{
         width: 48px;
         height: 47px;
      }

      @media (max-width: 1200px){
         width: 20rem;
      }

      @media (max-width: 740px){
         width: 35rem;
      }
   }

   h1.title-sector{
      font-family: "Helvetica-Regular", Helvetica;
      font-size: 21px;
      margin-top: 20px;
      font-weight: 500;
      text-align: left;
      text-transform: capitalize;
   }

   h3.detail{
      font-size: 15px !important;
      text-align: left;
      line-height: 22px;
      font-family: "Helvetica-Regular", Helvetica;
      font-weight: 200 !important;
   }
}


.link_wrapper{
   position: relative;
   margin-top: 90px !important;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;

   @media (max-width: 900px){
      gap: 1.2rem;
   }

   a{
      margin: 0 10px;
      font-size: 18px;
      padding: 1rem;
      border-radius: .3rem;
   }

   a.lnk-1{
      color: #eee !important;
      font-family: "Helvetica-Regular", Helvetica;
      background: #6a0dad !important;
      border: 1px solid #6a0dad;

      &:hover{
         color: #6a0dad !important;
         background: #fff !important;
         transition: ease-in .3s;
      }
   }

   a.lnk-2{
      color: #6a0dad !important;
      border: 1px solid #6a0dad;
      font-family: "Helvetica-Regular", Helvetica;
      background: #ffff !important;

      &:hover{
         color: #fff !important;
         background: #6a0dad  !important;
         border: 1px solid #6a0dad !important;
         transition: ease-in .3s;
      }
   }
}


/** overlay for sectors container ***/
div.card:hover{
   background-size: cover !important;
   background-repeat: no-repeat !important;
   
   h1.title-sector{
      color: #fff;
   }
   h3.detail{
      color: #fff;
   }
}


/**## Hover effect for industry section ###*/
div.card-1:hover{
   background: url(../img/overlay-1.png) !important;
}
div.card-2:hover{
   background: url(../img/overlay-2.png) !important;
   background-size: cover !important;
   background-repeat: no-repeat !important;
}
div.card-3:hover{
   background: url(../img/overlay-3.png) !important;
   background-size: cover !important;
   background-repeat: no-repeat !important;
}
div.card-4:hover{
   background: url(../img/overlay-4.png) !important;
   background-size: cover !important;
   background-repeat: no-repeat !important;
}
div.card-5:hover{
   background: url(../img/overlay-5.png) !important;
   background-size: cover !important;
   background-repeat: no-repeat !important;
}
div.card-6:hover{
   background: url(../img/overlay-6.png) !important;
   background-size: cover !important;
   background-repeat: no-repeat !important;
}
div.card-7:hover{
   background: url(../img/overlay-7.png) !important;
   background-size: cover !important;
   background-repeat: no-repeat !important;
}
div.card-8:hover{
   background: url(../img/overlay-8.png) !important;
   background-size: cover !important;
   background-repeat: no-repeat !important;
}

